{{ ansible_managed | comment }}

#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.
#
# Entries in this file show the compile time defaults.
# You can change settings by editing this file.
# Defaults can be restored by simply deleting this file.
#
# See resolved.conf(5) for details

[Resolve]
DNS={{ config.DNS | join(" ") }}
FallbackDNS={{ config.FallbackDNS | join(" ") }}
Domains={{ config.Domains | join(" ") }}
LLMNR={{ config.LLMNR | string | lower }}
MulticastDNS={{ config.MulticastDNS | string | lower }}
DNSSEC={{ config.DNSSEC | string | lower }}
DNSOverTLS={{ config.DNSOverTLS | string | lower }}
Cache={{ config.Cache | string | lower }}
DNSStubListener={{ config.DNSStubListener | string | lower }}
ReadEtcHosts={{ config.ReadEtcHosts | string | lower }}
